<!-- 
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com
-->
<span><a href='http://www.asdc.asi.it/' target='_blank'>ASI Science Data Center (ASDC)</a></span><br>
<p class=myfont>
	L'ASI Science Data Center (ASDC), una struttura dell'Agenzia Spaziale Italiana (ASI) è un centro di archiviazione operazioni scientifiche multi-missione, l'elaborazione dei dati e dei dati che fornisce il supporto a diverse missioni spaziali scientifiche. Al momento la ASDC ha responsabilità significative per un certo numero di satelliti astronomia/astroparticelle ad alta energia (ad esempio Swift, AGILE, Fermi, NUSTAR e AMS) e supporta a diversi livelli altre missioni come, Herschel e Planck.
	In particolare in ASDC mi occupo della manutenzione/sviluppo software delle missioni <strong>Swift/XRT</strong> e <strong>NuSTAR</strong>, gestisco la parte web delle relative missioni, le installazioni dei tool di sviluppo (Heasoft/ROOT/IDL).
	Quest'esperienza stà accresciendo le mie conoscenze tecniche su ambienti e temi scientifici fino ad ora inesplorati.
</p>
