<!-- 
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com
-->
<span><a href='http://www.e-tech.net' target='_blank'>e-Tech s.r.l.</a></span><br>
<p class=myfont>
	Sono stato uno dei 3 soci fondatori di e-Tech per 11anni, aperta nel Luglio del 2004, mi ha dato grandi soddisfazioni,
	ho acquisto esperienza sia in campo tecnico e sia in campo commerciale, devo molto hai miei due soci con i 
	quali ho condiviso esperienze lavorative e di vita quotidiana. In e-Tech mi sono occupato sia dello sviluppo
	software e sia del lato amministrativo. Una delle ultime cose a cui ho preso parte è stato lo sviluppo del 
	progetto <strong>ADAMS</strong>: un pacchetto di elaborazione/analisi/monitoraggio di grandi quantità di dati in tempo reale.
</p>
