<!-- 
**************************************************************************
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com

  File:   presentazione.php
  Descr:  
************************************************************************** 
-->
      <section id="presentazione">
        <div class="row">
          <div class="col-sm-12 lead text-center panel-carousel">
           <!-- <h1 class="text-center"><small>Il mio progetto</small></h1>  -->
           <p> Lascia fare a me: mi prenderò cura delle tue esigenze software e della tua immagine aziendale, portando una ventata di freschezza e novità al tuo business.</p><br>
           <p>E tu potrai dedicarti ad altro!
            Cosa ti propongo? Presenza costante, professionalità e monitoraggio continuo.
          </p>
          </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
      </section><!-- /section presentazione -->
      <!-- presentazione -->