<!-- 
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com
-->
<!-- jQuery e plugin JavaScript  -->
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="#_host/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="#_host/assets/js/bootstrap-formhelpers.js"></script>
<script type="text/javascript" src="#_host/assets/js/bootstrap-select.js"></script>


<script type="text/javascript" src="#_host/assets/plugins/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript" src="#_host/assets/plugins/fancybox/jquery.fancybox.js?v=2.1.5"></script>

<!-- Add Thumbnail helper (this is optional) -->
<script type="text/javascript" src="#_host/assets/plugins/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="#_host/assets/js/scripts.js"></script>

<!-- Service utility AJAX -->
<script type="text/javascript" src="#_host/assets/js/utility.js"></script>

<!-- Velocity -->
<script type="text/javascript" src="#_host/assets/js/velocity.min.js"></script>
<script type="text/javascript" src="#_host/assets/js/velocity.ui.min.js"></script>

<!-- Modernizr -->
<script type="text/javascript" src="#_host/assets/js/modernizr.custom.js"></script>

<!-- Cookie Policy -->
<script type="text/javascript" src="#_host/assets/js/cookieconsent.min.js"></script>

<!-- Disable mouse dc 
<script type="text/javascript" src="#_host/assets/js/disabledx.js"></script>
-->