<!-- 
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com
-->
<span><a href='http://www.tisparkle.com/' target='_blank' >Telecom Sparkle</a></span><br>
<p>
	Ho lavorato presso la sede di Acilia dal 1999 al 2015, li mi sono occupato di sviluppo/manutenzione software.
	In particolare ho sviluppato il progetto <strong>S.T.S. (Supervision Tracing System)</strong> un sistema in grado di fare analisi e monitoraggio in real-time del traffico telefonico internazionale. <strong>S.T.S. MAG (Supervision Tracing System Magistratura)</strong>, un  S.T.S. parallelo con opportune modifiche,  utilizzato dalla magistratura per intercettazioni e tracciamenti di telefonate.
	Nell’ambito di S.T.S. e S.T.S. MAG mi sono occupo di tutto il processo di sviluppo (analisi,disegno,codifica processi in ambienti UNIX/ORACLE) usando il linguaggi C++/Java/PHP/PRO-C/PL-SQL
</p>

