<!-- 
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com
-->
<!-- Fogli di stile -->

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/plugins/flexslider/flexslider.css" media="screen">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/plugins/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/plugins/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/css/bootstrap-formhelpers.css">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/css/btn-custom.css">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/css/raffo-custom.css">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/css/raffo-footer.css">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/css/social.css">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="http://localhost/test/web/assets/css/collapse.css">


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>