<!-- 
**************************************************************************
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com

  File: titolo_clienti.html
  Descr:      
************************************************************************** 
-->
<section id="titolo_clienti">
        <div class="row">
          <div class="col-sm-12">
           <!-- <h1 class="text-center"><small>Il mio progetto</small></h1>  -->
           <br>
           <br>
           <p class="lead text-center colore_bianco">i principali clienti con cui ho lavorato negli ultimi 15 anni della mia esperienza</p>
          </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
</section><!-- /section titolo_clienti -->