b /* tag */
{
    font-size: 15px;
    color: #000000;
}

.b1 /* class */
{
    font-size: 30px;
    color: #0000FF;
}

h2  /* tag */
{
	margin-left: 30px;
}

.m30 /* classe */
{
	margin-left: 30px;
}

.m70 /* classe */
{
	margin-left: 70px;
}

table /* tag */
{
    border-collapse: collapse;
    width: 100%;
}

th, td /* tag */
{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.dotcom /* classe */
{color:#4CAF50}

tr#riga:hover
{background-color:#f5f5f5}