<style>
	b
	{
	    font-size: 15px;
	    color: #000000;
	}

	b1 
	{
	    font-size: 30px;
	    color: #0000FF;
	}

	h2 
	{
		margin-left: 30px;
	}

	#m30 
	{
		margin-left: 30px;
	}

	#m70 {
		margin-left: 70px;
	}

	table 
	{
	    border-collapse: collapse;
	    width: 100%;
	}

	th, td 
	{
	    padding: 8px;
	    text-align: center;
	    border-bottom: 1px solid #ddd;
	}
	
	.dotcom {color:#4CAF50}

	tr#riga:hover{background-color:#f5f5f5}
</style>